:root {
  font-family: "Charis SIL", serif;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

.container, main, header, footer {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}
@media screen and (min-width: 400px) {
  .container, main, header, footer {
    max-width: 380px;
  }
}
@media screen and (min-width: 800px) {
  .container, main, header, footer {
    max-width: 760px;
  }
}
@media screen and (min-width: 1200px) {
  .container, main, header, footer {
    max-width: 1120px;
  }
}
@media screen and (min-width: 1400px) {
  .container, main, header, footer {
    max-width: 1300px;
  }
}

.large {
  font-size: 1.2em;
}

label {
  display: block;
  font-size: 1.2em;
}

footer a {
  color: crimson;
}

header {
  padding-block: 0.4rem;
}

#title {
  display: inline-block;
}
#title, #title * {
  color: midnightblue;
  text-decoration: none;
}
#title:before {
  content: "";
  width: 0;
  display: inline-block;
  transition: all 0.3s ease;
}
#title:hover:before {
  width: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-block: 1rem;
  min-height: calc(100vh - 15rem);
}

#url_form {
  max-width: 340px;
  width: 100%;
}
#url_form > div {
  margin: 0.2em 0;
}

input {
  width: 100%;
  outline: none;
  padding: 6px;
  font-family: "Charis SIL", serif;
  font-size: 1.1em;
  border: 2px solid darkslateblue;
  border-radius: 4px;
}
input:focus {
  background: rgba(72, 61, 139, 0.1);
  outline: 2px solid #473c8a;
}

#url_submit {
  margin: 0.4em auto;
  font-size: 1.2rem;
  border: none;
  background: #473c8a;
  color: #fff;
  cursor: pointer;
}
#url_submit:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
}
#url_submit:disabled {
  background: rgba(72, 61, 139, 0.1);
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: midnightblue;
  text-decoration: underline;
}
